@import "2020base";

.solutions-heading {
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    // sass-lint:disable no-important
    margin-bottom: 16px !important;
    position: relative;

    @media (min-width: 640px) {
      &:before {
        position: absolute;
        background: url(/images/solutions/confetti.svg) no-repeat 100% 0;
        content: "";
        left: -50px;
        top: -80px;
        height: 147px;
        width: 108px;
      }
    }
  }

  &__subtitle {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media (max-width: 640px) {
      max-width: 100%;
    }
  }
}

.solutions-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-flow: row;
  gap: 32px;

  @media (max-width: 640px) {
    grid-template-columns: repeat(1, auto);
  }

  .solution {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    padding-top: 24px;
    background-color: #fff;
    margin-bottom: 16px;

    &__title {
      // sass-lint:disable no-important
      margin-bottom: 8px !important;
      font-size: 3.2rem;
      line-height: 3.6rem;
      font-weight: 400;
    }

    &__subtitle {
      margin-bottom: 24px;
      font-size: 1.4rem;
      line-height: 2rem;
    }

    &__description {
      margin-bottom: 16px;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    &__link {
      // sass-lint:disable no-important
      color: #7D2BD9 !important;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }
}

@media (min-width: 640px) {
  :root .slp-container {
    max-width: 1200px;
  }
}

:root .slp-container {
  width: calc(98%);
}
